<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Thymeleaf Web Application</title>
</head>
<body>
<h1>Список продуктов</h1>

<table align="center">
    <tr>
        <td>
            <div>
                <table>
                    <thead>
                    <tr>
                        <th> Id </th>
                        <th> Name </th>
                        <th> Price </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p: ${allProducts}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.title}"></td>
                        <td th:text="${p.cost}"></td>
                        <td>
                            <form action="#" th:action="@{'/delete/{id}'(id=${p.id})}" >
                                <button type="submit" class="btn">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
        <td>
            <div>
                <h2>Отсортировать</h2>
                <form action="/sort" method="POST">
                    Мин цена: <input
                        type="number"
                        name="minCost"><br />
                    Макс цена: <input
                        type="number"
                        name="maxCost"><br />
                    <button type="submit">Показать</button>
                </form>
            </div>
        </td>
    </tr>
</table>
</body>
</html>