<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Spring Boot Thymeleaf Web com.example.cart.CartApplication</title>
</head>
<body>

<h1>Authenticated user roles:</h1>
<div sec:authentication="principal.authorities"></div>

<h1>Список продуктов</h1>

<table align="center">
    <tr>
        <td>
                <table>
                    <thead>
                    <tr>
                        <th> Id</th>
                        <th> Name</th>
                        <th> Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p: ${allProducts}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.title}"></td>
                        <td th:text="${p.cost}"></td>
                        <td>
                            <div sec:authorize="hasRole('ADMIN')">
                                <form action="#" th:action="@{'/v2/{id}'(id=${p.id})}" method="post">
                                    <button type="submit" class="btn">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
        <td>
            <div>
                <h2>Отсортировать</h2>
                <form action="#" method="get">
                    Мин цена: <input
                        type="number"
                        name="minCost"><br/>
                    Макс цена: <input
                        type="number"
                        name="maxCost"><br/>
                    Название товара: <input
                        type="text"
                        name="title"><br/>
                    <button type="submit">Показать</button>
                </form>
            </div>
            <div sec:authorize="hasRole('ADMIN')">
                <h2>добавить продукт</h2>
                <form action="#" th:action="@{/v2/add}"  method="post">
                    Цена: <input
                        type="number"
                        name="cost"><br/>
                    Название товара: <input
                        type="text"
                        name="title"><br/>
                    Двигатель: <input
                        type="text"
                        name="engine"><br/>
                    <button type="submit">Показать</button>
                </form>
            </div>
        </td>
    </tr>
</table>

</body>
</html>