<div>
    <p></p>
    <h3>Поиск по названию товара</h3>
    <p></p>

    <form novalidate ng-submit="functionFindByName()">
        <div class="form-floating input-group-sm">
            <input type="text" class="form-control" id="name" placeholder="" ng-model="text">
        </div>
        <p></p>
        <button class="btn btn-outline-warning btn-sm" style="width: 100%;" type="submit">Найти</button>
    </form>

    <p></p>
    <h3>Каталог товаров</h3>
    <p></p>

    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td></td>
            <td>Название</td>
            <td>Цена</td>
            <td>Категория</td>
            <td>Владелец</td>
        </tr>
        <tbody>
        <tr ng-repeat="p in productsList" >
            <td>
                <a href="#!/advertisement/{{p.id}}" >
                    Просмотреть
                </a>
            </td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>{{p.categoryTitle}}</td>
            <td>{{p.userName}}</td>
        </tr>
        </tbody>
    </table>
</div>